<div class="project-top-wrapper">
  <div class="row">
	<div class="col-xs-4 left-line"></div>
  	
  	<div class="col-xs-1 project-header-text">
      <h1 class="text-right">Project</h1>
 	</div>
	
	<div class="col-xs-4 col-xs-offset-1 right-line"></div>
  </div>

  <div class="row">
	<div class="col-xs-12 col-xs-offset-1 ">
		<p>Do the same sorts of projects over and over? <u>Make a reusable template</u> to save yourself time.</p>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-4">
  		<div class="card">
  			
  			<h2 class="text-center">Making A Podcast</h2>
  			<p>An example of using Basecamp to produce a podcast</p>
  	</div>
  	</div>
  </div>


</div>